<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of items" class="nav-item active">
                <a class="nav-link" [routerLink]="[item.link ]">{{item.name}} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="[ '/login' ]" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
    </div>
</nav>