<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of items" class="nav-item active">
        <a class="nav-link" [routerLink]="[item.link]"
          >{{ item.name }} <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <div *ngIf="user.name" class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ user.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
        <button class="dropdown-item" (click)="Logout()">Logout</button>
      </div>
    </div>
    <div *ngIf="!user.name">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        [routerLink]="['/login']"
        type="submit"
      >
        Login
      </button>
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        [routerLink]="['/signup']"
        type="submit"
      >
        Sign up
      </button>
    </div>
  </div>
</nav>
