<div class="container my-2">
  <div class="d-flex">
    <img src="assets/avatars/avatar2.png" alt="Avatar" class="avatar" />
    <div class="input-group ml-2 p-1">
      <textarea
        class="form-control m-0 p-0"
        placeholder="What are you thinking??"
        id="exampleFormControlTextarea1"
      ></textarea>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>

<div class="container my-2">
  <div class="d-flex">
    <img src="assets/avatars/avatar2.png" alt="Avatar" class="avatar" />
    <div class="card ml-2 p-1 bg-light">
      <h5 class="p-0 m-0">Kan</h5>
      <p class="p-0 m-0">Mốt đi ăn bánh mì chấm ca cao ngon lắm nè</p>
    </div>
  </div>
</div>
