<div class="position-sticky" [style.top.px]='65'>
  <h4 class="mt-4">List friend</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <img src="assets/avatars/avatar2.png" alt="Avatar" class="avatar" />
      Cras justo odio
    </li>
    <li class="list-group-item">
      <img src="assets/avatars/avatar5.png" alt="Avatar" class="avatar" />
      Dapibus ac facilisis in
    </li>
    <li class="list-group-item">
      <img src="assets/avatars/avatar6.png" alt="Avatar" class="avatar" />
      Morbi leo risus
    </li>
    <li class="list-group-item">
      <img src="assets/avatars/avatar3.png" alt="Avatar" class="avatar" />
      Vestibulum at eros
    </li>
    <li class="list-group-item"></li>
  </ul>
</div>
