<div class="card mb-5">
  <div class="card-header">
    <img src="assets/avatars/avatar2.png" alt="Avatar" class="avatar float-left mr-3" />
    <div class="float-left">
        <h5 class="mb-0">Cras justo odio</h5>
        <span class="font-italic card-subtitle text-muted">2 hours ago</span>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <img
    class="card-img-top"
    src="assets/posts/vainglory_ss4.png"
    alt="Card image cap"
  />
  <div class="d-flex justify-content-around m-2">
    <button class="btn btn-outline-primary">
        Like</button>
    <button class="btn btn-outline-primary">Comment</button>
    <button class="btn btn-outline-primary">Share</button>
  </div>
</div>
