<div class="container pt-5">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
    <h2 class="">Login</h2>
    <div *ngFor="let item of items; let i = index" class="form-group mt-4">
      <label [for]="item.name + 'input'">{{ item.label }}</label>

      <input
        [type]="item.type || 'text'"
        formControlName="{{ item.name }}"
        name="{{ item.name }}"
        autocomplete
        class="form-control"
        [id]="i + 'input'"
        placeholder="{{ item.placeholder }}"
      />

      <small *ngIf="item.subText" id="emailHelp" class="form-text text-muted">{{
        item.subText
      }}</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
