<ul class="list-group list-group-flush mt-3 position-sticky" [style.top.px]='65'>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <h4>Activities</h4>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center active">
    Saved
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Diary
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Watchlist
    <span class="badge badge-primary badge-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Messages
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>